form {
  height: 100%;
  width: 310px;
  display: flex;
  flex-direction: column;
  .form-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
  }
  .form-group {
    margin-bottom: 25px;
  }
  .form-actions {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }
}
