.list {
	display: flex;
	flex-direction: column;
	h6 {
		margin-bottom: 18px;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
