.infobar {
  padding: 35px;
  max-width: 389px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  a {
    color: #f9a109;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
  img {
    margin-bottom: 50px;
    width: 300px;
    height: 220px;
    border-radius: 25px;
    object-fit: contain;
    text-decoration: none;
  }
  &__item {
    margin-bottom: 33px;
    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #c1c1c4;
    }
    p {
      margin-top: 10px;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
    }
  }
}
