.main-page {
  width: 100%;
  height: 100%;
  padding: 35px 80px;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  &--left {
    width: 65%;
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin-bottom: 50px;
    max-width: 450px;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    span {
      color: #f9a109;
    }
  }
}
