.form-group {
	display: flex;
	flex-direction: column;
	label {
		margin-bottom: 6px;
		transition: 0.2s;
	}
	input {
		padding: 21px 17px;
		border: 2px solid #bdbdbd;
		box-sizing: border-box;
		border-radius: 12px;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #bdbdbd;
		outline: none;
		transition: 0.2s;
		&:focus {
			border: 2px solid #f9a109;
		}
	}
	.focused {
		color: #f9a109;
	}
}
